@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --main-color: rgb(0,123,255);
    --background: rgb(255,255,255);
    --text: rgb(0,0,0);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 15px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.start-btn {
    font-size: 25px;
    font-weight: 500;
    color: var(--main-color);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--background);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    animation: start-anim 1s ease ;
    cursor: pointer;
    transition: 0.4s;
}

.start-btn:hover {
    transform: scale(1.1);
}

@keyframes start-anim {
    from {
        transform: scale(0.1) translateY(200px);
        opacity: 0;
    }

    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.hide-start-btn {
    display: none;
}

.rules-cont {
    display: none;
    border-radius: 5px;
    background-color: var(--background);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    animation: cont-anim 0.5s ease;
}

.show-rules {
    display: block;
}

.rules-cont h2 {
    padding: 0 30px;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.rules-cont ol {
    padding: 15px 50px;
}

.rules-cont ol li {
    margin: 5px 0;
    font-size: 17px;
}

.rules-cont ol li strong {
    color: var(--main-color);
}

.rules-btns {
    padding: 10px 30px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid lightgrey;
}

.rules-btns .btn {
    margin: 0 5px;
}

.quiz-cont {
    max-width: 550px;
    width: 100%;
    display: none;
    border-radius: 5px;
    background-color: var(--background);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    animation: cont-anim 0.5s ease;
}

.show-quiz {
    display: block;
}

.quiz-header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-header h2 {
    font-size: 20px;
    font-weight: 600;
}

.quiz-timer {
    padding: 8px;
    color: rgb(0, 64, 133);
    background-color: rgb(204, 229, 255);
    border: 1px solid rgb(184, 218, 255);
    border-radius: 5px;
    display: flex;
    align-items: center;
    user-select: none;
}

.quiz-timer span {
    margin-left: 6px;
    display: block;
    height: 30px;
    width: 45px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background: rgb(52, 58, 64);
    border: 1px solid rgb(52, 58, 64);
}

.quiz-time-line-cont {
    position: relative;
    height: 3px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}

.quiz-time-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
}

.quiz-question {
    padding: 30px 30px 10px 30px;
    font-size: 25px;
    font-weight: 600;
}

.quiz-options {
    padding: 5px 30px;
    list-style: none;
}

.quiz-options li {
    padding: 10px 15px;
    cursor: pointer;
}

.quiz-options li.alert-info {
    color: black;
    background-color: transparent;
}

.quiz-footer {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgrey;
}

.next-btn {
    transition: 0.4s;
    transform: scale(0.9);
    visibility: hidden;
    opacity: 0;
}

.show-next-btn {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.complete-cont {
    padding: 25px 30px;
    max-width: 450px;
    width: 100%;
    display: none;
    text-align: center;
    border-radius: 5px;
    background-color: var(--background);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    animation: cont-anim 0.5s ease;
}

.show-complete-cont {
    display: block;
}

.fa-crown {
    padding: 30px 0;
    color: var(--main-color);
    font-size: 100px;
}

.complete-cont h3 {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 500;
}

.complete-btns {
    padding: 20px 0;
}

.complete-btns .btn-primary,
.complete-btns .btn-outline-primary {
    margin: 0 5px;
    padding: 8px 24px;
    font-size: 18px;
    font-weight: 500;
}

@keyframes cont-anim {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
